@import source-sans-pro

body
  background: black

.reveal
  *
    font-family: 'Source Sans Pro', sans-serif !important

  img
    background: none !important
    border: none !important

  h1, h2, h3, h4, h5, h6
    text-transform: none
    text-shadow: 3px 4px 10px black

  ul
    &.two-columns
      columns: 2
      -webkit-columns: 2
      -moz-columns: 2

    &.list-style-none
      li
        list-style: none

  .thin
    font-weight: 300
    margin: 0
    line-height: 1

  .text-left
    text-align: left

  .text-right
    text-align: right

  .text-justify
    text-align: justify

  .italic
    font-style: italic

  .no-wrap
    white-space: nowrap !important
    overflow: visible !important

  .squish
    line-height: 1em
