doctype html
html
  head
    meta charset="utf-8"

    / Always force latest IE rendering engine or request Chrome Frame
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"

    / Use title if it's in the page YAML frontmatter
    title = current_page.data.title || "Should We Believe in God?"

    = stylesheet_link_tag "normalize", "reveal", "theme/black"
    = stylesheet_link_tag "custom"

  body
    .reveal
      .slides
        = yield

    = javascript_include_tag  "all"
