- char = { left_quote: "“", right_quote: "”" }


section data-background="images/nebula.jpg"
  h1 Should We Believe in God?

section data-background="images/earth-horizon.jpg"
  h1.text-justify
    p.thin
      | “Why is there
    p
      | something rather
      br
      | than nothing?”

section
  section data-background="images/clock.png" data-background-size= "auto 70%" data-background-position="70%"
    h1.text-left.squish
      | You're
      br
      | there
      br
      | yet.

  section data-background="images/are-we-there-yet.jpg" data-background-size="auto 70%"
  section data-background="images/donkey-making-waffles.jpg" data-background-size="auto 70%"

section data-background="images/low_battery.jpg" data-background-size="auto 40%"

section
  h1.text-left
    span.thin
      ' “Why do you call me
    span good
    span.thin
      | ?”
  h4.text-right.thin.italic
    | &ndash; Jesus of Nazareth

section data-background="images/Bear-Salmon.jpg" data-background-size="contain"
section data-background="images/lion.jpg" data-background-size="contain"
section data-background="images/hitler.jpg" data-background-size="contain"

section
  h1.text-left
    span.thin
      | “
    ' Why
    span.thin
      ' do you call me good?”
  h4.text-right.thin.italic
    | &ndash; Jesus of Nazareth

section data-background="images/darwin.jpg" data-background-size="contain" data-background-position="80% 0"
  h2.text-left
    span.thin
      | &ldquo;
    ' Would anyone trust
    span.thin
      ' the convictions of
    | a monkey
    span.thin
      |'s mind?
      | &rdquo;

  h4.text-right.thin.italic
    | &ndash; Charles Darwin

section data-background="images/garden_tomb.jpg"
  h1 The Resurrection

section data-background="images/manuscript.png" data-background-position="20%" data-background-size="auto 85%"
  h1.text-right Eyewitness Testimony

section
  section
    h2 The Facts

    ol
      li.fragment Jesus was buried in a tomb.
      li.fragment It was empty three days later.
      li.fragment Many believed they had seen the risen Christ.
      li.fragment They died for those beliefs.

  section data-background="images/talpiot_tomb.jpg" data-background-size="contain"


section
  h2 Non-Christian Sources

  ul.two-columns.list-style-none
    li Josephus
    li Tacitus
    li Thallus
    li Pliny the Younger
    li Emperor Trajan
    li Emperor Hadrian
    li The Talmud
    li Toledoth Jesu
    li Lucian
    li Mara Bar-Sarapion


section
  h2.no-wrap travis@ShouldWeBelieve.com

section
  h2.no-wrap
    | ShouldWeBelieve
    span.thin
      | .com


// ----- Backup Slides ------

section
  section
    h1 Misquoting Jesus?

  section data-background="images/iphone-1.png" data-background-size="auto 90%"
  section data-background="images/iphone-2.png" data-background-size="auto 90%"
  section data-background="images/iphone-3.png" data-background-size="auto 90%"
